.defaultButton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}

.deletarButton {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}

    .deletarButton:hover {
        color: darkred;
    }
