﻿@model IEnumerable<ProgramaModel>
@{
    ViewData["Title"] = "Indicador Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <form id="indicadorProgramaForm" action="/Home/AdicionarIndicadorProgramaPost" method="post">
        <div class="mb-3">
            <label for="idPrograma" class="form-label">Programa</label>
            <select class="form-select" id="idPrograma" name="idPrograma" required>
                <option selected></option>
                @foreach (var programa in Model)
                {
                    <option value="@programa.Codigo">@programa.Codigo</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" required>
        </div>
        <div class="mb-3">
            <label for="undMedida" class="form-label">Unidade de Medida</label>
            <input type="text" class="form-control" id="undMedida" name="undMedida" required>
        </div>
        <div class="mb-3">
            <label for="indiceApuracao" class="form-label">Índice de Apuração</label>
            <input type="number" class="form-control" id="indiceApuracao" step="any" name="indiceApuracao" required>
        </div>
        <div class="mb-3">
            <label for="indiceDesejado" class="form-label">Índice Desejado</label>
            <input type="number" class="form-control" id="indiceDesejado" step="any" name="indiceDesejado" required>
        </div>
        <div class="mb-3">
            <label for="dataApuracao" class="form-label">Data de Apuração</label>
            <input type="date" class="form-control" id="dataApuracao" name="dataApuracao" required>
        </div>
    </form>
</div>
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="javascript:void(0);" onclick="history.back();">Voltar</a>
    <button form="indicadorProgramaForm" type="submit" class="btn btn-primary">Salvar</button>
</div>