﻿@model IEnumerable<ProgramaModel>
@{
    ViewData["Title"] = "Objetivo Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <form id="objetivoProgramaForm" action="/Home/AdicionarObjetivoProgramaPost" method="post">
        <div class="mb-3">
            <label for="idPrograma" class="form-label">Programa</label>
            <select class="form-select" id="idPrograma" name="idPrograma" required>
                <option selected></option>
                @foreach (var programa in Model)
                {
                    <option value="@programa.Codigo">@programa.Codigo</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" required>
        </div>
    </form>
</div>
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="javascript:void(0);" onclick="history.back();">Voltar</a>
    <button form="objetivoProgramaForm" type="submit" class="btn btn-primary">Salvar</button>
</div>