﻿@model ProgramaModel
@{
    ViewData["Title"] = "Programa";
}

@if (TempData["Alerta"] != null)
{
    <script>
        // Exibir o alerta como um pop-up
        alert("@Html.Raw(TempData["Alerta"])");
    </script>
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <form id="programaForm" action="/Home/AdicionarProgramaPost" method="post">
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" required>
        </div>
        <div class="mb-3">
            <label for="publicoAlvo" class="form-label">Público-alvo</label>
            <input type="text" class="form-control" id="publicoAlvo" name="publicoAlvo" required>
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-select" id="tipo" name="tipo" required>
                <option selected></option>
                @foreach (var tipo in Model.tiposNome)
                {
                    <option value="@tipo.Key">@tipo.Value</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="objMilenio" class="form-label">Objetivo do Milênio</label>
            <select class="form-select" id="objMilenio" name="objMilenio" required>
                <option selected></option>
                @foreach (var objetivo in Model.objetivosNome)
                {
                    <option value="@objetivo.Key">@objetivo.Value</option>
                }
            </select>
        </div>
        <input type="hidden" id="retomar" name="retomar" value="@(ViewBag.Retomar ? "true" : "false")" />
    </form>
</div>
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="javascript:void(0);" onclick="history.back();">Voltar</a>
    <button form="programaForm" type="submit" class="btn btn-primary">Salvar</button>
</div>