﻿@model ProgramaModel
@{
    ViewData["Title"] = "Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <form id="programaForm" action="/Home/EditarProgramaPut" method="post">
        <div class="mb-3">
            <label for="codigo" class="form-label">Código</label>
            <input type="text" class="form-control" id="codigo" name="codigo" value="@Model.Codigo" readonly>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="@Model.Descricao">
        </div>
        <div class="mb-3">
            <label for="publicoAlvo" class="form-label">Público-alvo</label>
            <input type="text" class="form-control" id="publicoAlvo" name="publicoAlvo" value="@Model.PublicoAlvo">
        </div>
        <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-select" id="tipo" name="tipo">
                @foreach (var tipo in Model.tiposNome)
                {
                    if (tipo.Key == Model.Tipo)
                    {
                        <option value="@tipo.Key" selected>@tipo.Value</option>
                    }
                    else
                    {
                        <option value="@tipo.Key">@tipo.Value</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="objetivo" class="form-label">Objetivo do Milênio</label>
            <select class="form-select" id="objMilenio" name="objMilenio">
                @foreach (var objetivo in Model.objetivosNome)
                {
                    if (objetivo.Key == Model.ObjMilenio) 
                    {
                        <option value="@objetivo.Key" selected>@objetivo.Value</option>
                    }
                    else
                    {
                        <option value="@objetivo.Key">@objetivo.Value</option>
                    }
                }
            </select>
        </div>
    </form>
</div>
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="javascript:void(0);" onclick="history.back();">Voltar</a>
    <button form="programaForm" type="submit" class="btn btn-primary">Salvar</button>
</div>