﻿@model ObjetivoProgramaModel
@{
    ViewData["Title"] = "Objetivo Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <form id="objetivoProgramaForm" action="/Home/EditarObjetivoProgramaPut" method="post">
        <div class="mb-3">
            <label for="idObjetivo" class="form-label">Objetivo</label>
            <input type="text" class="form-control" id="idObjetivo" name="idObjetivo" value="@Model.IdObjetivo" readonly>
        </div>
        <div class="mb-3">
            <label for="idPrograma" class="form-label">Programa</label>
            <input type="text" class="form-control" id="idPrograma" name="idPrograma" value="@Model.IdPrograma" readonly>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="@Model.Descricao" required>
        </div>
    </form>
</div>
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="javascript:void(0);" onclick="history.back();">Voltar</a>
    <button form="objetivoProgramaForm" type="submit" class="btn btn-primary">Salvar</button>
</div>