﻿@model IndicadorProgramaModel
@{
    ViewData["Title"] = "Indicador Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <form id="indicadorProgramaForm" action="/Home/EditarIndicadorProgramaPut" method="post">
        <div class="mb-3">
            <label for="idIndicador" class="form-label">Indicador</label>
            <input type="text" class="form-control" id="idIndicador" name="idIndicador" value="@Model.IdIndicador" readonly>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="@Model.Descricao" required>
        </div>
        <div class="mb-3">
            <label for="idPrograma" class="form-label">Programa</label>
            <input type="text" class="form-control" id="idPrograma" name="idPrograma" value="@Model.IdPrograma" readonly>
        </div>
        <div class="mb-3">
            <label for="undMedida" class="form-label">Unidade de Medida</label>
            <input type="text" class="form-control" id="undMedida" name="undMedida" value="@Model.UndMedida" required>
        </div>
        <div class="mb-3">
            <label for="indiceApuracao" class="form-label">Índice de Apuração</label>
            <input type="text" class="form-control" id="indiceApuracao" name="indiceApuracao" value="@Model.IndiceApuracao.ToString()" required>
        </div>
        <div class="mb-3">
            <label for="indiceDesejado" class="form-label">Índice Desejado</label>
            <input type="text" class="form-control" id="indiceDesejado" name="indiceDesejado" value="@Model.IndiceDesejado.ToString()" required>
        </div>
        <div class="mb-3">
            <label for="dataApuracao" class="form-label">Data de Apuração</label>
            <input type="date" class="form-control" id="dataApuracao" name="dataApuracao" value="@Model.DataApuracao.ToString("yyyy-MM-dd")" required>
        </div>
    </form>
</div>
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="javascript:void(0);" onclick="history.back();">Voltar</a>
    <button form="indicadorProgramaForm" type="submit" class="btn btn-primary">Salvar</button>
</div>