﻿@using Microsoft.AspNetCore.Mvc
@model IEnumerable<IndicadorProgramaModel>
@{
    ViewData["Title"] = "Indicador Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center; align-content: center;" scope="col">Indicadores</th>
                <th style="text-align: center; align-content: center;" scope="col">Descrição</th>
                <th style="text-align: center; align-content: center;" scope="col">Programa</th>
                <th style="text-align: center; align-content: center;" scope="col">Unidade de Medida</th>
                <th style="text-align: center; align-content: center;" scope="col">Índice de Apuração</th>
                <th style="text-align: center; align-content: center;" scope="col">Índice Desejado</th>
                <th style="text-align: center; align-content: center;" scope="col">Data de Apuração</th>
                <th style="width: 10%; text-align: center; align-content: center;" scope="col"></th>
                <th style="width: 10%; text-align: center; align-content: center;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var indicadorPrograma in Model)
            {
                <tr>
                    <th style="text-align: center; align-content: center;" scope="row">@indicadorPrograma.IdIndicador</th>
                    <td style="text-align: center; align-content: center;" scope="row">@indicadorPrograma.Descricao</td>
                    <td style="text-align: center; align-content: center;" scope="row">@indicadorPrograma.IdPrograma</td>
                    <td style="text-align: center; align-content: center;" scope="row">@indicadorPrograma.UndMedida</td>
                    <td style="text-align: center; align-content: center;" scope="row">@indicadorPrograma.IndiceApuracao</td>
                    <td style="text-align: center; align-content: center;" scope="row">@indicadorPrograma.IndiceDesejado</td>
                    <td style="text-align: center; align-content: center;" scope="row">@indicadorPrograma.DataApuracao.ToString("dd/MM/yyyy")</td>
                    <td style="text-align: center; align-content: center;" scope="row"><a class="defaultButton" href="@(Url.Action("EditarIndicadorPrograma", "Home", @indicadorPrograma))">Editar</a></td>
                    <td style="text-align: center; align-content: center;" scope="row">
                        <button type="button" class="deletarButton" data-bs-toggle="modal" data-bs-target="#deletarModal" data-indicadorprograma-idindicador="@indicadorPrograma.IdIndicador">
                            Deletar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="deletarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deletarModalLabel">Deseja continuar?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ao confirmar, o indicador de programa selecionado será deletado.
                Deseja prosseguir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="deletarButtonModal" class="deletarButton">Sim</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="@(Url.Action("Index", "Home"))">Voltar</a>
    <div style="display: flex; justify-content: flex-end;">
        <a style="margin-right: 16px;" class="defaultButton" href="@Url.Action("AdicionarIndicadorPrograma", "Home")">Novo Indicador Programa</a>
        <a class="defaultButton" href="@(Url.Action("GerarRelatorioIndicadoresPrograma", "Report"))">Gerar Relatório</a>
    </div>
</div>

<script>
    $('.deletarButton').click(function () {
        var idIndicador = $(this).data('indicadorprograma-idindicador');
        $('#deletarButtonModal').data('indicadorprograma-idindicador', idIndicador);
    });

    $('#deletarButtonModal').click(function () {
        var idIndicador = $(this).data('indicadorprograma-idindicador');
        deletarIndicadorPrograma(idIndicador);
    });

    function deletarIndicadorPrograma(idIndicador) {
        $.post('@Url.Action("DeletarIndicadorPrograma", "Home")', { idIndicador: idIndicador })
            .done(function (response) {
                $('#deletarModal').modal('hide');
                window.location.reload();
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                console.error('Erro ao reprovar anúncio:', textStatus, errorThrown);
            }) 
    }
</script>