﻿@using Microsoft.AspNetCore.Mvc
@model IEnumerable<ObjetivoProgramaModel>
@{
    ViewData["Title"] = "Objetivo Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center; align-content: center;" scope="col">Objetivo</th>
                <th style="text-align: center; align-content: center;" scope="col">Programa</th>
                <th style="text-align: center; align-content: center;" scope="col">Descrição</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th style="width: 10%; text-align: center; align-content: center;" scope="col"></th>
                <th style="width: 10%; text-align: center; align-content: center;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objetivoPrograma in Model)
            {
                <tr>
                    <th style="text-align: center; align-content: center;" scope="row">@objetivoPrograma.IdObjetivo</th>
                    <td style="text-align: center; align-content: center;" scope="row">@objetivoPrograma.IdPrograma</td>
                    <td style="text-align: center; align-content: center;" scope="row">@objetivoPrograma.Descricao</td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td style="text-align: center; align-content: center;" scope="row"><a class="defaultButton" href="@(Url.Action("EditarObjetivoPrograma", "Home", @objetivoPrograma))">Editar</a></td>
                    <td style="text-align: center; align-content: center;" scope="row">
                        <button type="button" class="deletarButton" data-bs-toggle="modal" data-bs-target="#deletarModal" data-objetivoprograma-idobjetivo="@objetivoPrograma.IdObjetivo">
                            Deletar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="deletarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deletarModalLabel">Deseja continuar?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ao confirmar, o objetivo de programa selecionado será deletado.
                Deseja prosseguir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="deletarButtonModal" class="deletarButton">Sim</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="@(Url.Action("Index", "Home"))">Voltar</a>
    <div style="display: flex; justify-content: flex-end;">
        <a style="margin-right: 16px;" class="defaultButton" href="@Url.Action("AdicionarObjetivoPrograma", "Home")">Novo Objetivo Programa</a>
        <a class="defaultButton" href="@(Url.Action("GerarRelatorioObjetivosPrograma", "Report"))">Gerar Relatório</a>
    </div>
</div>

<script>
    $('.deletarButton').click(function () {
        var idObjetivo = $(this).data('objetivoprograma-idobjetivo');
        $('#deletarButtonModal').data('objetivoprograma-idobjetivo', idObjetivo);
    });

    $('#deletarButtonModal').click(function () {
        var idObjetivo = $(this).data('objetivoprograma-idobjetivo');
        deletarObjetivoPrograma(idObjetivo);
    });

    function deletarObjetivoPrograma(idObjetivo) {
        $.post('@Url.Action("DeletarObjetivoPrograma", "Home")', { idObjetivo: idObjetivo })
            .done(function (response) {
                $('#deletarModal').modal('hide');
                window.location.reload();
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                console.error('Erro ao reprovar anúncio:', textStatus, errorThrown);
            }) 
    }
</script>