﻿@using Microsoft.AspNetCore.Mvc
@model IEnumerable<ProgramaModel>
@{
    ViewData["Title"] = "Programa";
}

<div style="overflow-y: scroll; max-height: 424px; margin-bottom: 14px;">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: center; align-content: center;" scope="col">Programas</th>
                <th style="text-align: center; align-content: center;" scope="col">Descrição</th>
                <th style="text-align: center; align-content: center;" scope="col">Público-alvo</th>
                <th style="text-align: center; align-content: center;" scope="col">Tipo</th>
                <th style="text-align: center; align-content: center;" scope="col">Objetivo do Milênio</th>
                <th scope="col"></th>
                <th style="width: 10%; text-align: center; align-content: center;" scope="col"></th>
                <th style="width: 10%; text-align: center; align-content: center;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var programa in Model)
            {
                //href="@(Url.Action("DeletarPrograma", "Home"))"
                <tr>
                    <th style="text-align: center; align-content: center;" scope="row">@programa.Codigo</th>
                    <td style="text-align: center; align-content: center;" scope="row">@programa.Descricao</td>
                    <td style="text-align: center; align-content: center;" scope="row">@programa.PublicoAlvo</td>
                    <td style="text-align: center; align-content: center;" scope="row">@programa.TipoNome</td>
                    <td style="text-align: center; align-content: center;" scope="row">@programa.ObjetivoNome</td>
                    <td scope="row"></td>
                    <td style="text-align: center; align-content: center;" scope="row"><a class="defaultButton" href="@(Url.Action("EditarPrograma", "Home", programa))">Editar</a></td>
                    <td style="text-align: center; align-content: center;" scope="row">
                        <button type="button" class="deletarButton" data-bs-toggle="modal" data-bs-target="#deletarModal" data-programa-codigo="@programa.Codigo">
                            Deletar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="deletarModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deletarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deletarModalLabel">Deseja continuar?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Ao confirmar, o programa selecionado será deletado.
                Deseja prosseguir?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button id="deletarButtonModal" class="deletarButton">Sim</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div style="display: flex; justify-content: space-between;">
    <a class="defaultButton" href="@(Url.Action("Index", "Home"))">Voltar</a>
    <div style="display: flex; justify-content: flex-end;">
        <a style="margin-right: 16px;" class="defaultButton" href="@(Url.Action("AdicionarPrograma", "Home"))">Novo Programa</a>
        <a class="defaultButton" href="@(Url.Action("GerarRelatorioProgramas", "Report"))">Gerar Relatório</a>
    </div>
</div>

<script>
    $('.deletarButton').click(function () {
        var codigo = $(this).data('programa-codigo');
        $('#deletarButtonModal').data('programa-codigo', codigo);
    });

    $('#deletarButtonModal').click(function () {
        var codigo = $(this).data('programa-codigo');
        deletarPrograma(codigo);
    });

    function deletarPrograma(codigo) {
        $.post('@Url.Action("DeletarPrograma", "Home")', { codigo: codigo })
            .done(function (response) {
                $('#deletarModal').modal('hide');
                window.location.reload();
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                console.error('Erro ao reprovar anúncio:', textStatus, errorThrown);
            }) 
    }
</script>