﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InfoPublic</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/programa.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CaseInfoPublic.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">InfoPublic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            string action = (ViewContext?.RouteData?.Values["Action"]?.ToString() ?? "");
                            List<string> programaActions = new List<string> { "Programa", "AdicionarPrograma", "EditarPrograma" };
                            List<string> indicadorProgramaActions = new List<string> { "IndicadorPrograma", "AdicionarIndicadorPrograma", "EditarIndicadorPrograma" };
                            List<string> objetivoProgramaActions = new List<string> { "ObjetivoPrograma", "AdicionarObjetivoPrograma", "EditarObjetivoPrograma" };
                            string activeIndexClass = (action == "Index" ? "active" : "");
                            string activeProgramaClass = (programaActions.Contains(action) ? "active" : "");
                            string activeIndicadorProgramarClass = (indicadorProgramaActions.Contains(action) ? "active" : "");
                            string activeObjetivoProgramaClass = (objetivoProgramaActions.Contains(action) ? "active" : "");
                        }
                        <li class="nav-item @activeIndexClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item @activeProgramaClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Programa">Programas</a>
                        </li>
                        <li class="nav-item @activeIndicadorProgramarClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="IndicadorPrograma">Indicadores</a>
                        </li>
                        <li class="nav-item @activeObjetivoProgramaClass">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ObjetivoPrograma">Objetivos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div style="max-width: 1200px" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - InfoPublic <a asp-area="" asp-controller="Home"></a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
